* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

.bg2{
    background: white;
}

.h1{
    padding-top: 220px;
    padding-bottom: 70px;
}

.bg{
    background: rgb(82, 6, 82);
}

li {
    list-style: none;
}

.colo1{
    color: rgb(28, 5, 48);
}

.icon{
    width: 120px;
    height: 120px;
    color: brown;
}

.color {
    color: black;
}

a {
    color: initial;
}

section {
    padding: 0 50px;
}

.bg1{
    background-color: rgb(223, 223, 250);
}